table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/* 
Take the start code for the Shopping Cart Project
Debug through it
Then complete the shopping cart by adding REMOVE buttons that performs the opposite to the Add Button
Please remember if you remove - to prevent from going into negative quantities
Also add a Checkout Button that calculates the total price of items in the Shopping cart and places the total on the page (make a new function for this ).
You are done! */